
 <div>
            <div class="infor">
                    <div id="dateTime">
                    </div>
                   <div>
                       <ul id="contactUs">
                           <li><button type="button" name="button">Contact Us</button></li>
                           <li><button type="button" name="button">About Us</button></li>

                           <li><button type="button" name="button" >Login</button></li>
                           <li><button type="button" name="button">Sign Up</button></li>
                       </ul>
                   </div><!-- end of contact us  -->

            </div><!-- end of info -->

               <div class="logo">
                  
                            <a><img src="https://vietnamnews.vn//Images/logo.png" alt="e-News" />
                        
                            </a>
               
               </div><!-- end of logo -->

             
               <nav class="navbar navbar-inverse MaiNavMenu">
                    <div class="container-fluid">
                        <div class="navbar-header">
                        <a class="navbar-brand" href="#">VietNamNews</a>
                        </div>
                        <ul class="nav navbar-nav">
                        <li  class="dropdown"><a href="#">HOME</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" >POLITICS & LAWS<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu smenu">
                                <li><a href="#" >POLITICS & LAWS 1</a></li>
                                <li><a href="#" >POLITICS & LAWS 2</a></li>
                                <li><a href="#" >POLITICS & LAWS 3</a></li>
                            </ul>
                        </li>

                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" >ECONOMY<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" >ECONOMY 1</a></li>
                                <li><a href="#" >ECONOMY 2</a></li>
                                <li><a href="#" >ECONOMY 3</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">LIFE & STYLE<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"  >LIFE & STYLE 1</a></li>
                                <li><a href="#"  >LIFE & STYLE 2</a></li>
                                <li><a href="#"  >LIFE & STYLE 3</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SPORTS<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" >SPORT 1</a></li>
                                <li><a href="#"  >SPORT 2</a></li>
                                <li><a href="#"  >SPORT 3</a></li>
                            </ul>
                        </li>
                        </ul>
                        <form class="navbar-form navbar-left  float-right" action="/action_page.php">
                            <div class="input-group">
                              <input type="text" class="form-control " placeholder="Search" name="search">
                              <div class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                  <i class="glyphicon glyphicon-search"></i>
                                </button>
                              </div>
                            </div>
                          </form>
                    </div>
                 </nav>

                 <div id="vnnews-nav-mobile" style="display: none">
                        <div class="dropdown">
                            <button class="dropbtn"><img src="https://i-vnexpress.vnecdn.net/2019/06/17/cau-be-5240-1560771922.jpg" width="50px" height="50px"></button>
                            <div class="dropdown-content">
                                <a href="#">HOME</a>
                                <a href="#">POLISTICS & LAWS</a>
                                <a href="#">ECONOMY</a>
                                <a href="#">LIFE & STYLE</a>
                                <a href="#">SPORT</a>
                            </div>
                        </div>
                        <div style="float:right " id="search-vnnews-nav-mobile">
                            <div class="row-search  d-flex aligns-item-center">
                                <i class="fas fa-search btn-s"></i>
                                <input class="m-0 input-s" type="text" placeholder="Search..">
                            </div>
                        </div>
            
                 </div>
            
                 <div id="category" class="category">Viet Nam News >

                 </div>
            
            

  </div>

    <div class="home">
        <div class="row">
                <div class="col-sm-7">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active" ></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>

                                    <li data-target="#myCarousel" data-slide-to="4"></li>

                                </ol>
                    
                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner">

                    
                                                <div class="item active">
                                                        <a href="" >
                                                                <img src="https://i-vnexpress.vnecdn.net/2019/06/17/cau-be-5240-1560771922.jpg"  style="width: 100%;" class="card-img-top shadow"alt="Los Angeles" style="width:100%;">
                    
                                                            </a>
                                                    <div class="carousel-caption">
                                                    <h3>Los Angeles</h3>
                                                    <p>LA is always so much fun!</p>
                                                    </div>
                                                </div>
                    
                                                <div class="item">
                                                        <a href="" >
                                                            <img src="https://i-vnexpress.vnecdn.net/2019/06/17/cau-be-5240-1560771922.jpg"  class="card-img-top shadow"alt="Los Angeles" style="width:100%;">
                    
                                                            </a>                                <div class="carousel-caption">
                                                    <h3>Chicago</h3>
                                                    <p>Thank you, Chicago!</p>
                                                    </div>
                                                </div>
                    
                                                <div class="item">
                                                        <a href="" >
                                                                <img src="https://i-vnexpress.vnecdn.net/2019/06/17/cau-be-5240-1560771922.jpg" class="card-img-top shadow"alt="Los Angeles" style="width:100%;">
                    
                                                            </a>                                <div class="carousel-caption">
                                                    <h3>New York</h3>
                                                    <p>We love the Big Apple!</p>
                                                    </div>
                                                </div>
                    
                                                <div class="item">
                                                        <a href="" >
                                                                <img src="https://i-vnexpress.vnecdn.net/2019/06/17/cau-be-5240-1560771922.jpg"  class="card-img-top shadow"alt="Los Angeles" style="width:100%;">
                    
                                                            </a>                                <div class="carousel-caption">
                                                    <h3>New York</h3>
                                                    <p>We love the Big Apple!</p>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                        <a href="" >
                                                        <img src="https://i-vnexpress.vnecdn.net/2019/06/17/cau-be-5240-1560771922.jpg"  class="card-img-top shadow"alt="Los Angeles" style="width:100%;">
                    
                                                            </a>                                <div class="carousel-caption">
                                                    <h3>New York</h3>
                                                    <p>We love the Big Apple!</p>
                                                    </div>
                                                </div>
                                                </div>
                    
                                                <!-- Left and right controls -->
                                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                                <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                <span class="sr-only">Next</span>
                                                </a>
                            </div>

                            
                        <div class="highlight">


                            <h3  class="category-name"><b>
                            <span class="glyphicon glyphicon-triangle-right"></span>HIGHLIGHT</b>
                            </h3>
                        
                        <div class="row">
                        
                            <div class="col-sm-6 col-md-4 ">
                                <div class="card">
                                    <img class="card-img-top" src="https://picsum.photos/200/150/?random ">
                                    <div class="card-block">
                                        <h4 class="card-title">Tawshif Ahsan Khan</h4>
                                        <div class="meta">
                                            <a href="#">Friends</a>
                                        </div>
                                        <div class="card-text">
                                            Tawshif is a web designer living in Bangladesh.
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span class="float-right">Joined in 2013</span>
                                        <span><i class=""></i>75 Friends</span>
                                    </div>
                                </div>
                        
                            </div>

                            <div class="col-sm-6 col-md-4 ">
                                <div class="card">
                                    <img class="card-img-top" src="https://picsum.photos/200/150/?random ">
                                    <div class="card-block">
                                        <h4 class="card-title">Tawshif Ahsan Khan</h4>
                                        <div class="meta">
                                            <a href="#">Friends</a>
                                        </div>
                                        <div class="card-text">
                                            Tawshif is a web designer living in Bangladesh.
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span class="float-right">Joined in 2013</span>
                                        <span><i class=""></i>75 Friends</span>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-sm-6 col-md-4  ">
                                <div class="card ">
                                    <img class="card-img-top" src="https://picsum.photos/200/150/?random ">
                                    <div class="card-block">
                                        <h4 class="card-title">Tawshif Ahsan Khan</h4>
                                        <div class="meta">
                                            <a href="#">Friends</a>
                                        </div>
                                        <div class="card-text">
                                            Tawshif is a web designer living in Bangladesh.
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span class="float-right">Joined in 2013</span>
                                        <span><i class=""></i>75 Friends</span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        
                        </div> <!--  end of hightlight -->

                            
                        <div class="kind">
                            <h3  class="category-name"><b><span class="glyphicon glyphicon-triangle-right"></span>POLISTICS&LAW</b></h3>
                            <div class="categories">
                                <div class="cardColumn1">
                                    <div class="card  ">
                                    <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                                    <div class="card-block">
                                        <h4 class="card-title">Tawshif Ahsan Khan</h4>
                                        <div class="meta">
                                            <a href="#">Friends</a>
                                        </div>
                                        <div class="card-text">
                                            Tawshif is a web designer living in Bangladesh.
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span class="float-right">Joined in 2013</span>
                                        <span><i class=""></i>75 Friends</span>
                                    </div>
                                    </div>

                                </div> <!-- end of card column 1  -->
                                
                                <div class="cardColumn2" style="float:right">
                                    <div class="row">
                                    <div class="card" >
                                            <div class="card-body d-flex ">
                                            <strong class="d-inline-block mb-1 text-primary">World</strong>
                                            <h6 class="mb-0">
                                                <a class="text-dark" href="#">40 Percent of People Can’t Afford Basics</a>
                                            </h6>
                                            <div class="mb-0 text-muted small">Nov 12</div>
                                            <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                            <a class="btn btn-outline-primary btn-sm" role="button" href="http://www.jquery2dotnet.com/">Continue reading</a>
                                            </div>
                                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="//placeimg.com/250/250/arch" style="width: 140px; height: 160px;">
                                        </div>
                                
                                    </div>
                                    <div class="row">
                                    <div class="card" >
                                            <div class="card-body d-flex ">
                                            <strong class="d-inline-block mb-1 text-primary">World</strong>
                                            <h6 class="mb-0">
                                                <a class="text-dark" href="#">40 Percent of People Can’t Afford Basics</a>
                                            </h6>
                                            <div class="mb-0 text-muted small">Nov 12</div>
                                            <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                            <a class="btn btn-outline-primary btn-sm" role="button" href="http://www.jquery2dotnet.com/">Continue reading</a>
                                            </div>
                                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="//placeimg.com/250/250/arch" style="width: 140px; height: 160px;">
                                        </div>
                                    </div>
                                    
                                </div><!--  end of card column 2 -->

                            </div><!--  end of categories -->


                        </div> <!--  end of kind  -->


                        <div class="kind">
                            <h3 class="category-name"><b><span class="glyphicon glyphicon-triangle-right"></span>ECONOMY</b></h3>
                            <div class="categories">
                                <div class="cardColumn1">
                                    <div class="card  ">
                                    <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                                    <div class="card-block">
                                        <h4 class="card-title">Tawshif Ahsan Khan</h4>
                                        <div class="meta">
                                            <a href="#">Friends</a>
                                        </div>
                                        <div class="card-text">
                                            Tawshif is a web designer living in Bangladesh.
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span class="float-right">Joined in 2013</span>
                                        <span><i class=""></i>75 Friends</span>
                                    </div>
                                    </div>

                                </div> <!-- end of card column 1  -->
                                
                                <div class="cardColumn2" style="float:right">
                                    <div class="row">
                                    <div class="card" >
                                            <div class="card-body d-flex ">
                                            <strong class="d-inline-block mb-1 text-primary">World</strong>
                                            <h6 class="mb-0">
                                                <a class="text-dark" href="#">40 Percent of People Can’t Afford Basics</a>
                                            </h6>
                                            <div class="mb-0 text-muted small">Nov 12</div>
                                            <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                            <a class="btn btn-outline-primary btn-sm" role="button" href="http://www.jquery2dotnet.com/">Continue reading</a>
                                            </div>
                                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="//placeimg.com/250/250/arch" style="width: 140px; height: 160px;">
                                        </div>
                                
                                    </div>
                                    <div class="row">
                                    <div class="card" >
                                            <div class="card-body d-flex ">
                                            <strong class="d-inline-block mb-1 text-primary">World</strong>
                                            <h6 class="mb-0">
                                                <a class="text-dark" href="#">40 Percent of People Can’t Afford Basics</a>
                                            </h6>
                                            <div class="mb-0 text-muted small">Nov 12</div>
                                            <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                            <a class="btn btn-outline-primary btn-sm" role="button" href="http://www.jquery2dotnet.com/">Continue reading</a>
                                            </div>
                                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="//placeimg.com/250/250/arch" style="width: 140px; height: 160px;">
                                        </div>
                                    </div>
                                    
                                </div><!--  end of card column 2 -->

                            </div><!--  end of categories -->

                        </div> <!--  end of kind  -->
                        <div class="kind">
                            <h3  class="category-name"><b><span class="glyphicon glyphicon-triangle-right"></span>LIFE & STYLE</b></h3>
                            <div class="categories">
                                <div class="cardColumn1">
                                    <div class="card  ">
                                    <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                                    <div class="card-block">
                                        <h4 class="card-title">Tawshif Ahsan Khan</h4>
                                        <div class="meta">
                                            <a href="#">Friends</a>
                                        </div>
                                        <div class="card-text">
                                            Tawshif is a web designer living in Bangladesh.
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span class="float-right">Joined in 2013</span>
                                        <span><i class=""></i>75 Friends</span>
                                    </div>
                                    </div>

                                </div> <!-- end of card column 1  -->
                                
                                <div class="cardColumn2" style="float:right">
                                    <div class="row">
                                    <div class="card" >
                                            <div class="card-body d-flex ">
                                            <strong class="d-inline-block mb-1 text-primary">World</strong>
                                            <h6 class="mb-0">
                                                <a class="text-dark" href="#">40 Percent of People Can’t Afford Basics</a>
                                            </h6>
                                            <div class="mb-0 text-muted small">Nov 12</div>
                                            <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                            <a class="btn btn-outline-primary btn-sm" role="button" href="http://www.jquery2dotnet.com/">Continue reading</a>
                                            </div>
                                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="//placeimg.com/250/250/arch" style="width: 140px; height: 160px;">
                                        </div>
                                
                                    </div>
                                    <div class="row">
                                    <div class="card" >
                                            <div class="card-body d-flex ">
                                            <strong class="d-inline-block mb-1 text-primary">World</strong>
                                            <h6 class="mb-0">
                                                <a class="text-dark" href="#">40 Percent of People Can’t Afford Basics</a>
                                            </h6>
                                            <div class="mb-0 text-muted small">Nov 12</div>
                                            <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                            <a class="btn btn-outline-primary btn-sm" role="button" href="http://www.jquery2dotnet.com/">Continue reading</a>
                                            </div>
                                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="//placeimg.com/250/250/arch" style="width: 140px; height: 160px;">
                                        </div>
                                    </div>
                                    
                                </div><!--  end of card column 2 -->

                            </div><!--  end of categories -->

                        </div> <!--  end of kind  -->
                        <div class="kind">
                            <h3  class="category-name"><b><span class="glyphicon glyphicon-triangle-right"></span>SPORTS</b></h3>
                            <div class="categories">
                                <div class="cardColumn1">
                                    <div class="card  ">
                                    <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                                    <div class="card-block">
                                        <h4 class="card-title">Tawshif Ahsan Khan</h4>
                                        <div class="meta">
                                            <a href="#">Friends</a>
                                        </div>
                                        <div class="card-text">
                                            Tawshif is a web designer living in Bangladesh.
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span class="float-right">Joined in 2013</span>
                                        <span><i class=""></i>75 Friends</span>
                                    </div>
                                    </div>

                                </div> <!-- end of card column 1  -->
                                
                                <div class="cardColumn2" style="float:right">
                                    <div class="row">
                                    <div class="card" >
                                            <div class="card-body d-flex ">
                                            <strong class="d-inline-block mb-1 text-primary">World</strong>
                                            <h6 class="mb-0">
                                                <a class="text-dark" href="#">40 Percent of People Can’t Afford Basics</a>
                                            </h6>
                                            <div class="mb-0 text-muted small">Nov 12</div>
                                            <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                            <a class="btn btn-outline-primary btn-sm" role="button" href="http://www.jquery2dotnet.com/">Continue reading</a>
                                            </div>
                                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="//placeimg.com/250/250/arch" style="width: 140px; height: 160px;">
                                        </div>
                                
                                    </div>
                                    <div class="row">
                                    <div class="card" >
                                            <div class="card-body d-flex ">
                                            <strong class="d-inline-block mb-1 text-primary">World</strong>
                                            <h6 class="mb-0">
                                                <a class="text-dark" href="#">40 Percent of People Can’t Afford Basics</a>
                                            </h6>
                                            <div class="mb-0 text-muted small">Nov 12</div>
                                            <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                            <a class="btn btn-outline-primary btn-sm" role="button" href="http://www.jquery2dotnet.com/">Continue reading</a>
                                            </div>
                                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="//placeimg.com/250/250/arch" style="width: 140px; height: 160px;">
                                        </div>
                                    </div>
                                    
                                </div><!--  end of card column 2 -->

                            </div><!--  end of categories -->

                        </div> <!--  end of kind  -->
                    
                </div>   <!-- end of col-sm-7-->

                   <div class="col-sm-3">
                        
                            <div class="card-body1">
                                <!-- tiêu đề hightlight  -->
                                <div class="highlight-body1">
                                  <b>HIGHTLIGHT</b>
                                  <hr>
                                </div>
                              <div class="highlight-list-body1">
                                <ul>
                                  <!-- bài 1 trong highlight list -->
                                  <li>
                                      <div>
                                        <a href="#"   title= "Southern cakes a part of tradition">
                                        <b>Southern cakes a part of tradition</b>  </a>
                                      </div>
                                      <a href="#" >
                                        <img class ="img-highlight-body1 shadow" src="http://image.vietnamnews.vn/uploadvnnews/Article/2019/4/28/5911_1.JPG" title="Southern cakes a part of tradition">
                          
                                      </a>
                                    <hr>
                                  </li>
                                  <!-- bài 2 trong hightlight list -->
                                  <li>
                                      <div>
                                        <a href="#" o   title= "Southern cakes a part of tradition">
                                        <b>Southern cakes a part of tradition</b>  </a>
                                      </div>
                                      <a href="#" o >
                                        <img class ="img-highlight-body1 shadow" src="http://image.vietnamnews.vn/uploadvnnews/Article/2019/4/28/5911_1.JPG" title="Southern cakes a part of tradition">
                          
                                      </a>
                                    <hr>
                                  </li>
                                  <!--  bài 3 trong hightlight list-->
                                  <li>
                                      <div>
                                        <a href="#" o   title= "Southern cakes a part of tradition">
                                        <b>Southern cakes a part of tradition</b>  </a>
                                      </div>
                                      <a href="#" o >
                                        <img class ="img-highlight-body1 shadow" src="http://image.vietnamnews.vn/uploadvnnews/Article/2019/4/28/5911_1.JPG" title="Southern cakes a part of tradition">
                          
                                      </a>
                                    <hr>
                                  </li>
                                  <!--  bài 4 trong hightlight list-->
                                  <li>
                                      <div>
                                        <a href="#" o   title= "Southern cakes a part of tradition">
                                        <b>Southern cakes a part of tradition</b>  </a>
                                      </div>
                                      <a href="#" o >
                                        <img class ="img-highlight-body1 shadow" src="http://image.vietnamnews.vn/uploadvnnews/Article/2019/4/28/5911_1.JPG" title="Southern cakes a part of tradition">
                          
                                      </a>
                                    <hr>
                                  </li>
                          
                                  <!--  bài 5 trong hightlight list-->
                                  <li>
                                      <div>
                                        <a href="#" o   title= "Southern cakes a part of tradition">
                                        <b>Southern cakes a part of tradition</b>  </a>
                                      </div>
                                      <a href="#" o >
                                        <img class ="img-highlight-body1 shadow" src="http://image.vietnamnews.vn/uploadvnnews/Article/2019/4/28/5911_1.JPG" title="Southern cakes a part of tradition">
                          
                                      </a>
                                    <hr>
                                  </li>
                                  <!-- Kết thúc list bài trong hightlight -->
                                </ul>
                              </div>
                          
                         </div>


                    <div class="card-body2">
                        <!-- tab 1 latest -->
                            <div class= "bg-body1-latest">
                                <div class="menu-tab-sidebar">
                                    <a id="tab1" class="act-tab-sidebar" href="javascript:;" onclick="showTabMRight('tab1');"> <b>LATEST</b> </a>
                                    <a id="tab2" href="javascript:;" onclick="showTabMRight('tab2');"> <b>MOST READ</b> </a>
                                </div>
                            </div>

                            <div class="content-sidebar" id="tab1Content">
                                <ul class="link-sidebar">
                                    <!-- &raquo; là dấu >> -->
                                            <li><a href="#" onclick="xemchitiet()">
                                                &raquo; Speedy greens not for the nervous</a>
                                                <hr class="hr-phi">
                                            </li>

                                            <li><a href="#" onclick="xemchitiet()">
                                                &raquo; Beef Carpaccio Formaggi</a>
                                            <hr class="hr-phi">
                                            </li>

                                            <li><a href="#" onclick="xemchitiet()">
                                                &raquo; Southern cakes a part of tradition<img src="https://vietnamnews.vn//images/multimedia.png" alt="Video" class="iconvideodisplay" /></a>
                                            <hr class="hr-phi">
                                            </li>

                                            <li><a href="#" onclick="xemchitiet()">
                                                &raquo; 3,000 old buildings in HCM City should be renovated: architectural centre</a>
                                            <hr class="hr-phi">
                                            </li>

                                            <li><a href="#" onclick="xemchitiet()">
                                                &raquo; HCM City theatres stage new plays for holiday</a>
                                            <hr class="hr-phi">
                                            </li>

                                            <li><a href="#" onclick="xemchitiet()">
                                                &raquo; French Music Director relishes a challenge</a>

                                            </li>

                                </ul>
                            </div>

                            <!-- most Read -->
                            <div class="content-sidebar" id="tab2Content">
                                <ul class="link-sidebar">
                                <li><a href="#" onclick="xemchitiet()">
                                            &raquo;  PM Phúc meets Chinese Party chief and President Xi Jinping in Beijing</a>
                                            <hr  class="hr-phi">
                                            </li>

                                            <li><a href="#" onclick="xemchitiet()">
                                            &raquo;  Nội Bài Airport to expand to handle 100 million passengers by 2050</a>
                                            <hr class="hr-phi">
                                            </li>

                                            <li><a href="#" onclick="xemchitiet()">
                                            &raquo;  Hà Nội faces summer water shortages</a>
                                            <hr class="hr-phi">
                                            </li>

                                            <li><a href="#" onclick="xemchitiet()">
                                            &raquo;  FDI reaches record level in four months</a>
                                            <hr class="hr-phi">
                                            </li>

                                            <li><a href="#" onclick="xemchitiet()">
                                            &raquo;  HCM City to ban vehicles in centre on holidays</a>
                                            <hr class="hr-phi">
                                            </li>

                                            <li><a href="#" onclick="xemchitiet()">
                                            &raquo;  CPTPP smooths path to Canadian market for Vietnamese goods</a>

                                            </li>
                                            </ul>
                            </div>

                    </div>

                  </div>   <!-- end of col-sm-4-->
                   
                   <div class="col-sm-2">
                        <div class="stickyMenu" id="stickyMenu">

                                <li>
                                    <button type="button" name="button" class="top" onclick="topFunction()">TOP</button>
                                </li>
                                <li><a href="#home" >HOME</a></li>
                                <li><a href="#news" >POLITICS&LAWS</a></li>
                                <li><a href="#contact" >ECONOMY</a></li>
                                <li><a href="#contact" >LIFE&STYLE</a></li>
                                <li><a href="#contact">SPORTS</a></li>
                                <li><a href="#contact" >ENVIRONMENT</a></li>
                               
                
                
                        </div>
                   </div> <!-- end of col-sm-2-->

            </div>  <!-- end of row-->

<br>
<br>
           
            <div class="row">
                    <div class="footer" id="footer">
                            <!-- Footer -->
                            <footer class="page-footer font-small unique-color-dark">
                    
                                <div style="background-color: #6351ce;">
                                <div class="container">
                    
                                    <!-- Grid row-->
                                    <div class="row py-4 d-flex align-items-center">
                    
                                    <!-- Grid column -->
                                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                                        <h6 class="mb-0">Get connected with us on social networks!</h6>
                                    </div>
                                    <!-- Grid column -->
                    
                                    <!-- Grid column -->
                                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                    
                                        <!-- Facebook -->
                                        <a class="fb-ic">
                                        <i class="fab fa-facebook-f white-text mr-4"> </i>
                                        </a>
                                        <!-- Twitter -->
                                        <a class="tw-ic">
                                        <i class="fab fa-twitter white-text mr-4"> </i>
                                        </a>
                                        <!-- Google +-->
                                        <a class="gplus-ic">
                                        <i class="fab fa-google-plus-g white-text mr-4"> </i>
                                        </a>
                                        <!--Linkedin -->
                                        <a class="li-ic">
                                        <i class="fab fa-linkedin-in white-text mr-4"> </i>
                                        </a>
                                        <!--Instagram-->
                                        <a class="ins-ic">
                                        <i class="fab fa-instagram white-text"> </i>
                                        </a>
                    
                                    </div>
                                    <!-- Grid column -->
                    
                                    </div>
                                    <!-- Grid row-->
                    
                                </div>
                                </div>
                    
                                <!-- Footer Links -->
                                <div class="container text-center text-md-left mt-5">
                    
                                <!-- Grid row -->
                                <div class="row mt-3">
                    
                                    <!-- Grid column -->
                                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    
                                    <!-- Content -->
                                    <h6 class="text-uppercase font-weight-bold">Company name</h6>
                                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                                    <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit.</p>
                    
                                    </div>
                                    <!-- Grid column -->
                    
                                    <!-- Grid column -->
                                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    
                                    <!-- Links -->
                                    <h6 class="text-uppercase font-weight-bold">Products</h6>
                                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                                    <p>
                                        <a href="#!">MDBootstrap</a>
                                    </p>
                                    <p>
                                        <a href="#!">MDWordPress</a>
                                    </p>
                                    <p>
                                        <a href="#!">BrandFlow</a>
                                    </p>
                                    <p>
                                        <a href="#!">Bootstrap Angular</a>
                                    </p>
                    
                                    </div>
                                    <!-- Grid column -->
                    
                                    <!-- Grid column -->
                                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    
                                    <!-- Links -->
                                    <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                                    <p>
                                        <a href="#!">Your Account</a>
                                    </p>
                                    <p>
                                        <a href="#!">Become an Affiliate</a>
                                    </p>
                                    <p>
                                        <a href="#!">Shipping Rates</a>
                                    </p>
                                    <p>
                                        <a href="#!">Help</a>
                                    </p>
                    
                                    </div>
                                    <!-- Grid column -->
                    
                                    <!-- Grid column -->
                                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    
                                    <!-- Links -->
                                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                                    <p>
                                        <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                                    <p>
                                        <i class="fas fa-envelope mr-3"></i> info@example.com</p>
                                    <p>
                                        <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                                    <p>
                                        <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                    
                                    </div>
                                    <!-- Grid column -->
                    
                                </div>
                                <!-- Grid row -->
                    
                                </div>
                                <!-- Footer Links -->
                    
                                <!-- Copyright -->
                                <div class="footer-copyright text-center py-3">© 2018 Copyright:
                                <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
                                </div>
                                <!-- Copyright -->
                    
                            </footer>
                            <!-- Footer -->
                    </div>
            </div>
            
                
        </div>


