<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Admin E-News-User</title>
  <link rel="stylesheet" href="../css/e-News-admin_tag.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class ="body-main">
  <div class="pheader-1">
    <ul>
      <li class="adphi"> Admin &nbsp;Phi Tạ | <a href="../e-News-admin.html">E-NEWS</a><span class="glyphicon glyphicon-chevron-right"></span><a href="#">TAGS MANAGEMENT</a>

        </li>

<li><button class="icon-header1"><span class="glyphicon glyphicon-envelope"></span>&nbsp;<span class="caret"></span></button></li>
<li><button class="icon-header1"><span class="glyphicon glyphicon-th-list"></span>&nbsp;<span class="caret"></span></button></li>
<li><button class="icon-header1"><span class="glyphicon glyphicon-bell"></span>&nbsp;<span class="caret"></span></button></li>
<li><button class="icon-header1"><span class="glyphicon glyphicon-user"></span>&nbsp;<span class="caret"></span></button></li>

    </ul>
  </div>
  <div class="prow">
    <ul>
      <li class="card-col1">
        <!-- <div class="profile-admin">
            <img src="" alt="">
          </div> -->
        <div class="list-menu">
          <button class="list-btn" type="button" name="button"><a class="glyphicon glyphicon-home
"></a>&nbsp;&nbsp;&nbsp;&nbsp;Home</button>
        </div>
        <div class="list-menu">
          <button class="list-btn" type="button" name="button"><a class="glyphicon glyphicon-dashboard
"></a>&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</button>
        </div>

        <div class="list-menu">
          <button class="list-btn type=" name="button"><a class="glyphicon glyphicon-list-alt"></a>&nbsp;&nbsp;&nbsp;&nbsp; Category Management</button>
        </div>
        <div class="list-menu">
          <button class="list-btn" type="button" name="button">
            <a class="glyphicon glyphicon-tags"></a>
&nbsp;&nbsp;&nbsp;&nbsp;Tags Management
          </button>
        </div>
        <div class="list-menu">
          <button class="list-btn" type="button" name="button"><a class="glyphicon glyphicon-check
"></a>&nbsp;&nbsp;&nbsp;&nbsp;Articles Management</button>
        </div>
        <div class="list-menu">
          <button class="list-btn" type="button" name="button"><a class="glyphicon glyphicon-user"></a>&nbsp;&nbsp;&nbsp;&nbsp;User Management
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-menu-down"></span>
          </button>

        </div>
      </li>
      <li class="card-col2">
      <div class="bar2-search">
        <ul>
          <li class="	glyphicon glyphicon-search"></li>
          <li><input class="input-search"></li>
          <li><button class="btn-search" type="button" name="button">Search</button></li>

          <li><button class="btn-add" type="button" name="button">Add tags&nbsp;<a href="#" class="fa fa-plus"></a></button></li>
          <li><button class="btn-add" type="button" name="button">Edit tags&nbsp;<a href="#" class="fa fa-edit"></a></button></li>
          <li><button class="btn-add" type="button" name="button">Delete tags&nbsp;<a href="#" class="fa fa-remove"></a></button></li>

        </ul>
      </div>
      <!-- <div class="bar3-search">
      <button class ="btn-add" type="button" name="button">Add Users <a href="#" class="glyphicon glyphicon-plus"></a></button>

      </div> -->
      <div class= "main-part">
        <section id="sec">
  <h2 class="cate-h2">CATEGORY</h2>
  <ul class="cate-ul">
    <li class="cate-ul-li">
      <div class="cate-div"><span class="fa fa-legal"></span></div>

      <h3 class="cate-h3">Politics & Laws</h3>
      <p class="cate-p">This category includes all of news about Polictics & Laws. These papers are updated ussually and exactly.</p>
      <p class="cate-p">Popular tags: <b><a href="#" title="Politics">Politics</a>,&nbsp;
        <a href="#" title="Laws">Laws</a>,&nbsp;
        <a href="#" title="New Laws">New Laws</a>,&nbsp;
        <a href="#" title="Vietnam Laws">Vietnam Laws</a>,&nbsp;
        <a href="#" title="Local Politics">Local Politics</a>,&nbsp;
      </b>
      </p>
      <p class="cate-p"> More Details <span class="glyphicon glyphicon-chevron-right"></span></p>


    </li>
    <li class="cate-ul-li">
     <div class="cate-div"><span class="fa fa-group"></span></div>
      <h3 class="cate-h3">Society</h3>
      <p class="cate-p"> </p>
      <p class="cate-p">This category includes all of news about Society. These papers are updated ussually and exactly.</p>
      <p class="cate-p">Popular tags: <b><a href="#" title="Society">Society</a>,&nbsp;
        <a href="#" title="Modern Society">Modern Society</a>,&nbsp;
        <a href="#" title="Smart Society">Smart Society</a>,&nbsp;
        <a href="#" title="Vietnam Society">Vietnam society</a>,&nbsp;
        <a href="#" title="Local Society">Local Society</a>,&nbsp;
      </b>
      </p>
      <p class="cate-p"> More Details <span class="glyphicon glyphicon-chevron-right"></span></p>


    </li>
    <li class="cate-ul-li">
<div class="cate-div"><span class="fa fa-dollar"></span></div>
      <h3 class="cate-h3">Economy</h3>
      <p class="cate-p">This category includes all of news about Economy. These papers are updated ussually and exactly. </p>
      <p class="cate-p">Popular tags: <b><a href="#" title="Economy">Economy</a>,&nbsp;
        <a href="#" title="Modern Economy">Modern Economy</a>,&nbsp;
        <a href="#" title="Smart Economy">Smart Economy</a>,&nbsp;
        <a href="#" title="Vietnam Economy">Vietnam Economy</a>,&nbsp;
        <a href="#" title="Local Economy">Local Economy</a>&nbsp;
      </b>
      </p
      <p class="cate-p"> More Details <span class="glyphicon glyphicon-chevron-right"></span></p>


      <p class="cate-p">.</p></li>
    <li class="cate-ul-li">
      <div class="cate-div"><span class="fa fa-code"></span></div>

      <h3 class="cate-h3">Life & Style</h3>
      <p class="cate-p">This category includes all of news about Life & Style. These papers are updated ussually and exactly. </p>
      <p class="cate-p">Popular tags: <b><a href="#" title="Life & Style">Life & Style</a>,&nbsp;
        <a href="#" title="Life">Life </a>,&nbsp;
        <a href="#" title="Style">Style</a>,&nbsp;
        <a href="#" title="Vietnam life">Vietnam life</a>,&nbsp;
        <a href="#" title="Local Style">Local Style</a>&nbsp;

      </b>
      </p>
      <p class="cate-p"> More Details <span class="glyphicon glyphicon-chevron-right"></span></p>

    </li>
    <li class="cate-ul-li">
     <div class="cate-div"><span class="fa fa-soccer-ball-o"></span></div>

      <h3 class="cate-h3">Sport </h3>
      <p class="cate-p">This category includes all of news about Sports. These papers are updated ussually and exactly. </p>
      <p class="cate-p">Popular tags: <b><a href="#" title="Sport">Sport</a>,&nbsp;
        <a href="#" title="Modern Sport">Modern Sport</a>,&nbsp;
        <a href="#" title="Benefits Sport">Benefits Sport</a>,&nbsp;
        <a href="#" title="Water Sport">Water Sport</a>,&nbsp;
        <a href="#" title="Free Sport">Free Sport</a>&nbsp;
      </b>
      </p>
      <p class="cate-p"> More Details <span class="glyphicon glyphicon-chevron-right"></span></p>


    </li>
    <li class="cate-ul-li">
      <div class="cate-div"><span class="fa fa-tree"></span></div>

      <h3 class="cate-h3">Environment </h3>
      <p class="cate-p">This category includes all of news about Environment. These papers are updated ussually and exactly. </p>
      <p class="cate-p">Popular tags: <b><a href="#" title="Economy">Environment</a>,&nbsp;
        <a href="#" title="Modern Environment">Modern Environment</a>,&nbsp;
        <a href="#" title="Pollution Environment">Pollution Environment</a>,&nbsp;
        <a href="#" title="Vietnam Environment">Vietnam Environment</a>,&nbsp;
        <a href="#" title="Local Environment">Local Environment</a>&nbsp;
      </b>
      </p>
      <p class="cate-p"> More Details <span class="glyphicon glyphicon-chevron-right"></span></p>


    </li>

  </ul>
</section>

      </div>

      </li>
    </ul>
  </div>


</body>

</html>
