<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>e-News-Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/e-News-detail.css">
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

                        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  
        <script src="e-News.js"></script>


    


  </head>
  <body onload="loadDate()">
    <div id="box">
        <form class="box" action="index.html" method="post">
            <h1>Login</h1>
            <input type="text" name="" placeholder="Username">
            <input type="password" name="" value="" placeholder="Password">
            <input type="button" onclick="Login()" name="" value="Login">
        </form>
    </div><!-- end of login box -->

    <!-- form Sign in  -->
    <div id="signIn">
        <div class="left-box">
            <h1>Sign Up</h1>

            <input type="text" name="username" placeholder="Username" />
            <input type="text" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <input type="password" name="password2" placeholder="Retype password" />
            <input type="button" name="signup-button" onclick="SignUp()" value="Sign Up" />

        </div><!--  end of left box -->
        <div class="right-box">
            <span class="signinwith">Sign in with<br />Social Network </span>

            <button class="social facebook">Log in with Facebook</button>
            <button class="social twitter">Log in with Twitter</button>
            <button class="social google">Log in with Google+</button>
        </div><!-- end of right box -->
        <div class="or">OR</div>
    </div><!-- end of sign in box -->

    <div class="infor">
            <div id="dateTime"> </div>
            <div>
                <ul id="contactUs">

                    <li><button type="button" name="button">Contact Us</button></li>
                    <li><button type="button" name="button">About Us</button></li>

                    <li><button type="button" name="button" onclick="ShowLoginForm()">Login</button></li>
                    <li><button type="button" name="button" onclick="ShowSignUpForm()">Sign Up</button></li>
                </ul>
            </div><!-- end of contact us  -->

        </div><!-- end of info -->

        <div class="logo">
            <div>
                <a><img src="https://vietnamnews.vn//Images/logo.png" alt="e-News" /></a>
            </div>


        </div><!-- end of logo -->


<nav class="navbar navbar-inverse MaiNavMenu">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">VietNamNews</a>
            </div>
            <ul class="nav navbar-nav">
            <li ><a href="#" onclick="home()">HOME</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" >POLITICS & LAWS<span class="caret"></span></a>
                <ul class="dropdown-menu smenu">
                    <li><a href="#" onclick="politic()">POLITICS & LAWS 1</a></li>
                    <li><a href="#" onclick="politic()">POLITICS & LAWS 2</a></li>
                    <li><a href="#" onclick="politic()">POLITICS & LAWS 3</a></li>
                </ul>
            </li>
         
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" >ECONOMY<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="economy()">ECONOMY 1</a></li>
                    <li><a href="#" onclick="economy()">ECONOMY 2</a></li>
                    <li><a href="#" onclick="economy()">ECONOMY 3</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">LIFE & STYLE<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"  onclick="life()">LIFE & STYLE 1</a></li>
                    <li><a href="#"  onclick="life()">LIFE & STYLE 2</a></li>
                    <li><a href="#"  onclick="life()">LIFE & STYLE 3</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">SPORTS<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#"  onclick="sport()">SPORT 1</a></li>
                    <li><a href="#"  onclick="sport()">SPORT 2</a></li>
                    <li><a href="#"  onclick="sport()">SPORT 3</a></li>
                </ul>
            </li>
            </ul>
            <form class="navbar-form navbar-left" action="/action_page.php">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="search">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="button">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </div>
                </div>
              </form>
        </div>
</nav>

<div id="vnnews-nav-mobile" style="display: none">
<div class="dropdown">
    <button class="dropbtn"><img src="../image/home.jpg" width="50px" height="50px"></button>
    <div class="dropdown-content">
        <a href="#">HOME</a>
        <a href="#">POLISTICS & LAWS</a>
        <a href="#">ECONOMY</a>
        <a href="#">LIFE & STYLE</a>
        <a href="#">SPORT</a>
    </div>
</div>
<div style="float:right " id="search-vnnews-nav-mobile">
    <div class="row-search  d-flex aligns-item-center">
        <i class="fas fa-search btn-s"></i>
        <input class="m-0 input-s" type="text" placeholder="Search..">
    </div>
</div>

</div>

<div id="category" class="category">Viet Nam News ></div>


</div>

<br>
  <div class="row-body1">
  <div class="column-body1">
    <div class="card-body1">
      <div >
        <ul class= "bg-body1">
          <b></b>
            <li><a alt ="vietnamnews" title="Viet Nam News" href="#"><b>Viet Nam News &nbsp;</b></a></li>
            <li>
                <img  src="http://vietnamnews.vn//Images/arrow-breakcrump.png"
                    alt="" />
                  </li>
            <li><a class="cate-act" href="/politics-laws"> <b>&nbsp; Politics & Laws</b></a></li>
        </ul>
    </div>
    </div>
<!-- bài báo chi tiết -->
    <div class=" card-body-main">
      <h3 >
            LG Electronics to move smartphone production to Việt Nam</h3>

            <div class="main-post">
              <ul>
                <li>
                  Update: <span>
                      April, 25/2019 - 14:46</span>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </li>
                <li>
                  <div>
                      <a class="icon_button" title="Share facebook" href="javascript:share_facebook();" rel="nofollow" >
                          <img src="http://vietnamnews.vn//images/icon/icon_fb.gif" alt="Share facebook" /></a>

                      <a title="Share twitter" id="twitter" href="javascript:share_twitter();" rel="nofollow" >
                          <img src="http://vietnamnews.vn//images/icon/icon_tw.gif" alt="Chia sẻ bài viết lên Twitter" /></a>

                      <a title="Share google+" href="javascript:share_google();" rel="nofollow" >
                          <img alt="Share google+" src="http://vietnamnews.vn//images/icon/icon_google.gif" /></a>

                      <span>|</span> <a rel="nofollow" title="Print"
                          target="_blank" href="/print/lg-electronics-to-move-smartphone-production-to-viet-nam/519162.html">
                          <img alt="" src="http://vietnamnews.vn//images/icon/icon_print.gif" /></a>

                      <a href="mailto:?body=From http://vietnamnews.vn/economy/519162/lg-electronics-to-move-smartphone-production-to-viet-nam.html">
                          <img alt="" src="http://vietnamnews.vn//images/icon/icon_letter.gif" /></a>
                  </div>
                </li>
              </ul>
              <!-- đi vào nội dung bài viết -->
              <div class="vnnews-text-post">
            <div style="font-family:Arial;font-size:14px">
	<p>
		&nbsp;</p>
	<div >
		<img class="inline-image-img" inline="true"  src="http://image.vietnamnews.vn/uploadvnnews/Article/2019/4/25/6971_LG.jpg" />
		<div class="inline-image-caption" >
			A customer looks at LG Electronics Inc.’s G8 ThinQ smartphone in Seoul. — Photo of LG Electronics</div>
	</div>
	<p>
		HÀ NỘI —&nbsp;The Republic of Korea (RoK)’s LG Electronics plans to move its smartphone production to Việt Nam to cut losses its mobile devices business has suffered since the second quarter of 2017, Yonhap News Agency reported on Wednesday.<br />
		<br />
		The firm is scheduled to shut the Pyeongtaek plant in the south of Seoul and shift its production line to the northern port city of Hải Phòng.<br />
		<br />
		The company currently manufactures smartphones in the RoK, Việt Nam, Brazil and China while its domestic plants mostly produce premium devices.&nbsp;<br />
		<br />
		LG Electronics has struggled in the smartphone market for years amid intense competition with Samsung and Apple in the hi-end segment and with Chinese manufacturers in the lower segment.&nbsp;<br />
		<br />
		Last year, its sales of mobile devices hit US$1.5 billion but losses amounted to $280 million due to weak revenue and rising marketing costs.&nbsp;<br />
		<br />
		Meanwhile, LG Display Co said Wednesday its net loss hit $55 million in the first quarter this year, higher than the $42.5 million in the same period last year due to low selling prices of liquid crystal displays. —&nbsp;VNS</p>
</div>
<!-- tên tác giả -->
<div class="author-name"><b>Tú Phi</b></div>
<br>
<!-- các thẻ tags -->
<div class="tags-icon">
  <ul>
    <li><b>TAGS:&nbsp;</b></li>
    <li class="aaa">LG Electronics &nbsp; </li>
    <li class="aaa">vietnam &nbsp;</li>
    <li class="aaa">smartphone production</li>
  </ul>
</div>
<br><br>
<hr>
<!-- các bài viết liên quan -->
<div class="news-lienquan">
  Tin liên quan:
  <ul>
    <li ><a href="/politics-laws/278928/vision-needed-for-east-sea-stability.html" title ="Vision needed for East Sea stability"> &#8226; &nbsp; Vision needed for East Sea stability</a>
    </li>
    <li><a href="/politics-laws/273772/asean-china-talk-on-east-sea.html" title="ASEAN, China talk on East Sea">&#8226; &nbsp; ASEAN, China talk on East Sea</a>
    </li>
    <li><a href="/politics-laws/268881/asean-summit-to-debate-on-east-sea.html" title="ASEAN Summit to debate on East Sea">&#8226; &nbsp; ASEAN Summit to debate on East Sea</a>
    </li>
    <li><a href="/politics-laws/268881/asean-summit-to-debate-on-east-sea.html" title ="ASEAN Summit to debate on East Sea">&#8226; &nbsp; ASEAN Summit to debate on East Sea</a>
    </li>
    <li ><a href="/politics-laws/278928/vision-needed-for-east-sea-stability.html" title ="Vision needed for East Sea stability"> &#8226; &nbsp; Vision needed for East Sea stability</a>
    </li>
  </ul>
</div>
<!-- kết thúc các bài viết liên quan -->
<br><br><br><br>
<hr>

<!--ý kiến bạn đọc  -->
<div class="card-show-cmt">
  <div class="bar-show-cmt">
    <b>Comments(3)</b>
  </div>
  <div class="list-cmt">
    <ul>
      <!-- cmt 1 -->
      <li >
        <!-- avatar ,ten, ngay cmt -->
        <div class="namer-cmt">
          <ul>
            <li>
              <img class="avatar-male" src="https://www.w3schools.com/w3images/avatar5.png" alt="avatar">
            </li>
            <li class=" li-in4"><b>Tạ Thị Tú Phi |</b>  </li>
            <li class=" li-in4"> <b>&nbsp;20:00 03/05/2019</b></li>
          </ul>
        </div>
        <!-- nội dung cmt  -->
        <div class="info-cmt">
          This paper is really good, thanks author very much. Everyday reading this news helps me get more helpful information.
        </div>
        <hr>
      </li>

      <!-- cmt 2 -->
      <li  >
        <!-- avatar ,ten, ngay cmt -->
        <div class="namer-cmt">
          <ul>
            <li>
              <img class="avatar-male" src="https://www.w3schools.com/w3images/avatar6.png" alt="avatar">
            </li>
            <li class=" li-in4"><b>Hoàng Thị Hoài Nhi |</b>  </li>
            <li class=" li-in4"> <b>&nbsp;10:00 02/05/2019</b></li>
          </ul>
        </div>
        <!-- nội dung cmt  -->
        <div class="info-cmt">
          This paper is really good, thanks author very much. Everyday reading this news helps me get more helpful information.
        </div>
        <hr>
      </li>
      <!-- cmt3 -->
      <li  >
        <!-- avatar ,ten, ngay cmt -->
        <div class="namer-cmt">
          <ul>
            <li>
              <img class="avatar-male" src="https://www.w3schools.com/howto/img_avatar2.png" alt="avatar">
            </li>
            <li class=" li-in4"><b>Phan Thị Mai |</b>  </li>
            <li class=" li-in4"> <b>&nbsp;07:00 01/05/2019</b></li>
          </ul>
        </div>
        <!-- nội dung cmt  -->
        <div class="info-cmt">
          This paper is really good, thanks author very much. Everyday reading this news helps me get more helpful information.
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- card comment -->
<div class="card-comment">
  <textarea class="cmt-box" placeholder="Your comment"></textarea>
  <div>
    <button type="button" name="button" value="Gửi">Send</button>
  </div>
</div>

<br><br>

        </div>


        </div>
    </div>

  </div>

<!-- cột hightlight -->
  <div class="column-body2">
    <div class="card-body1">
      <!-- tiêu đề hightlight  -->
      <div class="highlight-body1">
        <b>HIGHTLIGHT</b>
        <hr>
      </div>
    <div class="highlight-list-body1">
      <ul>
        <!-- bài 1 trong highlight list -->
        <li>
            <div>
              <a href="https://vietnamnews.vn/sunday/features/519267/southern-cakes-a-part-of-tradition.html#T3uzFZYy0zkxW8Sg.97"  title= "Southern cakes a part of tradition">
              <b>Southern cakes a part of tradition</b>  </a>
            </div>
            <a href="https://vietnamnews.vn/sunday/features/519267/southern-cakes-a-part-of-tradition.html#T3uzFZYy0zkxW8Sg.97">
              <img class ="img-highlight-body1" src="http://image.vietnamnews.vn/uploadvnnews/Article/2019/4/28/5911_1.JPG" title="Southern cakes a part of tradition">

            </a>
          <hr>
        </li>
        <!-- bài 2 trong hightlight list -->
        <li>
            <div>
              <a href="https://vietnamnews.vn/sunday/features/519267/southern-cakes-a-part-of-tradition.html#T3uzFZYy0zkxW8Sg.97"  title= "Southern cakes a part of tradition">
              <b>Southern cakes a part of tradition</b>  </a>
            </div>
            <a href="https://vietnamnews.vn/sunday/features/519267/southern-cakes-a-part-of-tradition.html#T3uzFZYy0zkxW8Sg.97">
              <img class ="img-highlight-body1" src="http://image.vietnamnews.vn/uploadvnnews/Article/2019/4/28/5911_1.JPG" title="Southern cakes a part of tradition">

            </a>
          <hr>
        </li>
        <!--  bài 3 trong hightlight list-->
        <li>
            <div>
              <a href="https://vietnamnews.vn/sunday/features/519267/southern-cakes-a-part-of-tradition.html#T3uzFZYy0zkxW8Sg.97"  title= "Southern cakes a part of tradition">
              <b>Southern cakes a part of tradition</b>  </a>
            </div>
            <a href="https://vietnamnews.vn/sunday/features/519267/southern-cakes-a-part-of-tradition.html#T3uzFZYy0zkxW8Sg.97">
              <img class ="img-highlight-body1" src="http://image.vietnamnews.vn/uploadvnnews/Article/2019/4/28/5911_1.JPG" title="Southern cakes a part of tradition">

            </a>
          <hr>
        </li>
        <!--  bài 4 trong hightlight list-->
        <li>
            <div>
              <a href="https://vietnamnews.vn/sunday/features/519267/southern-cakes-a-part-of-tradition.html#T3uzFZYy0zkxW8Sg.97"  title= "Southern cakes a part of tradition">
              <b>Southern cakes a part of tradition</b>  </a>
            </div>
            <a href="https://vietnamnews.vn/sunday/features/519267/southern-cakes-a-part-of-tradition.html#T3uzFZYy0zkxW8Sg.97">
              <img class ="img-highlight-body1" src="http://image.vietnamnews.vn/uploadvnnews/Article/2019/4/28/5911_1.JPG" title="Southern cakes a part of tradition">

            </a>
          <hr>
        </li>

        <!--  bài 5 trong hightlight list-->
        <li>
            <div>
              <a href="https://vietnamnews.vn/sunday/features/519267/southern-cakes-a-part-of-tradition.html#T3uzFZYy0zkxW8Sg.97"  title= "Southern cakes a part of tradition">
              <b>Southern cakes a part of tradition</b>  </a>
            </div>
            <a href="https://vietnamnews.vn/sunday/features/519267/southern-cakes-a-part-of-tradition.html#T3uzFZYy0zkxW8Sg.97">
              <img class ="img-highlight-body1" src="http://image.vietnamnews.vn/uploadvnnews/Article/2019/4/28/5911_1.JPG" title="Southern cakes a part of tradition">

            </a>
          <hr>
        </li>
        <!-- Kết thúc list bài trong hightlight -->
      </ul>
    </div>

    </div>
  </div>

  <!-- Cột thứ 3 trong trang -->
  <div class="column-body3">
    <div class="card-body2">
      <!-- tab 1 latest -->
      <div class= "bg-body1-latest">
        <div class="menu-tab-sidebar">
              <a id="tab1" class="act-tab-sidebar" href="javascript:;" onclick="showTabMRight('tab1');"> <b>LATEST</b> </a>
              <a id="tab2" href="javascript:;" onclick="showTabMRight('tab2');"> <b>MOST READ</b> </a>
          </div>
      </div>

        <div class="content-sidebar" id="tab1Content">
            <ul class="link-sidebar">
                <!-- &raquo; là dấu >> -->
                        <li><a href="/sunday/teed-off/519271/speedy-greens-not-for-the-nervous.html">
                            &raquo; Speedy greens not for the nervous</a>
                            <hr class="hr-phi">
                          </li>

                        <li><a href="/sunday/ong-taos-kitchen/519269/beef-carpaccio-formaggi.html">
                            &raquo; Beef Carpaccio Formaggi</a>
                          <hr class="hr-phi">
                        </li>

                        <li><a href="/sunday/features/519267/southern-cakes-a-part-of-tradition.html">
                            &raquo; Southern cakes a part of tradition<img src="https://vietnamnews.vn//images/multimedia.png" alt="Video" class="iconvideodisplay" /></a>
                        <hr class="hr-phi">
                          </li>

                        <li><a href="/society/519254/3000-old-buildings-in-hcm-city-should-be-renovated-architectural-centre.html">
                            &raquo; 3,000 old buildings in HCM City should be renovated: architectural centre</a>
                          <hr class="hr-phi">
                        </li>

                        <li><a href="/sunday/features/519266/hcm-city-theatres-stage-new-plays-for-holiday.html">
                            &raquo; HCM City theatres stage new plays for holiday</a>
                          <hr class="hr-phi">
                          </li>

                        <li><a href="/sunday/inner-sanctum/519264/french-music-director-relishes-a-challenge.html">
                             &raquo; French Music Director relishes a challenge</a>

                          </li>

            </ul>
        </div>
        <!-- most Read -->
        <div class="content-sidebar" id="tab2Content">
            <ul class="link-sidebar">
              <li><a href="/politics-laws/519189/pm-phuc-meets-chinese-party-chief-and-president-xi-jinping-in-beijing.html">
                          &raquo;  PM Phúc meets Chinese Party chief and President Xi Jinping in Beijing</a>
                          <hr  class="hr-phi">
                        </li>

                        <li><a href="/economy/519186/noi-bai-airport-to-expand-to-handle-100-million-passengers-by-2050.html">
                          &raquo;  Nội Bài Airport to expand to handle 100 million passengers by 2050</a>
                          <hr class="hr-phi">
                        </li>

                        <li><a href="/society/519236/ha-noi-faces-summer-water-shortages.html">
                          &raquo;  Hà Nội faces summer water shortages</a>
                          <hr class="hr-phi">
                        </li>

                        <li><a href="/economy/519175/fdi-reaches-record-level-in-four-months.html">
                          &raquo;  FDI reaches record level in four months</a>
                          <hr class="hr-phi">
                        </li>

                        <li><a href="/society/519188/hcm-city-to-ban-vehicles-in-centre-on-holidays.html">
                          &raquo;  HCM City to ban vehicles in centre on holidays</a>
                          <hr class="hr-phi">
                        </li>

                        <li><a href="/economy/519181/cptpp-smooths-path-to-canadian-market-for-vietnamese-goods.html">
                          &raquo;  CPTPP smooths path to Canadian market for Vietnamese goods</a>

                        </li>
                          </ul>
      </div>



        <script type="text/javascript">
            var arrTabs = new Array("tab1", "tab2");
            var currentTab = "tab1";
            function showTabMRight(tab) {
                // set current tab
                currentTab = tab;
                // disable all tab
                for (var i = 0; i < arrTabs.length; i++) {
                    document.getElementById(arrTabs[i]).className = "";
                    document.getElementById(arrTabs[i] + "Content").style.display = "none";
                }
                // show current tab
                document.getElementById(currentTab).className = "act-tab-sidebar";
                document.getElementById(currentTab + "Content").style.display = "block";
            }
        </script>

    </div>

    <br>
    <!-- card body 2 -->

    <div class="card-body1">
      <div>
        <img class="img-cardbody2 " src="http://image.vietnamnews.vn/uploadvnnews/Adv/2016/2/25/binh_rjvb.jpg" alt="">
      </div>
      <br>
      <ul class="card-body2-listnews">
                    <li ><a href="/politics-laws/278928/vision-needed-for-east-sea-stability.html"> &#8226; &nbsp; Vision needed for East Sea stability</a>
                      <hr class="hr-phi1">
                    </li>
                    <li><a href="/politics-laws/273772/asean-china-talk-on-east-sea.html">&#8226; &nbsp; ASEAN, China talk on East Sea</a>
                    <hr class="hr-phi1">
                    </li>
                    <li><a href="/politics-laws/268881/asean-summit-to-debate-on-east-sea.html">&#8226; &nbsp; ASEAN Summit to debate on East Sea</a>

                    </li>
                </ul>
    </div>

  </div>

</div>

      <br>


<!--  -->



  </body>
</html>
