<!DOCTYPE <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Poster</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/poster.css">

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="https://cdn.ckeditor.com/4.11.4/standard-all/ckeditor.js"></script>
    <script src="poster.js"></script>


</head>

<body>
    <div class="horizontalMenu">
        <div class="topnav">

            <a href="#contact">Log Out</a>
            <a class="active" href="#home">Hoàng Nhi</a>
            <a href="#about" class="avatar"><img src="../image/avatar.png"></a>
            <h2 style="margin-left: 40%; margin-top: 0px;"><b>Writer</b></h2>
        </div>
    </div>

    <div class="verticalMenu">
        <div class="area"></div>
        <nav class="main-menu">
            <ul>
                <li>
                    <a href="e-News.html">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Home
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="preview.html">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                              Approval articles
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="preview.html">
                        <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Deny article
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="preview.html">
                        <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            wait for approvel
                        </span>
                    </a>

                </li>
                <li  class="has-subnav">
                    <a href="preview.html">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                            wait for post
                        </span>
                    </a>
                </li>
                <li  class="has-subnav">
                    <a href="#">
                            <i class="fa fa-info fa-2x"></i>
                            <span class="nav-text">
                                Post
                            </span>
                        </a>
                    </li>
                <li  class="has-subnav">
                    <a href="#">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                            Setting
                        </span>
                    </a>
                </li>
                
            </ul>


        </nav>
    </div>

  
    <div class="content">
        <div class="left">
            <div class="main">
                <div class="Title">
                    <h3>Title</h3>
                    <input class="w3-input w3-border w3-animate-input" type="text" style="width:30%"></input>
                </div>
                <div class="Summary">
                    <h3>Summary</h3>
                    <textarea cols="85" rows="5"></textarea>
                </div>
            </div>
            <div class="main">
                <div class="btn"><button class="btnmutilTask" onclick="showTask(1)">Content</button>
                    <button class="btnmutilTask" onclick="showTask(2)">Photo</button>
                    <button class="btnmutilTask" onclick="showTask(3)">Video youtube</button>
                </div>
                <div class="CKEditor" id="text">
                    <textarea cols="65" id="editor1" name="editor1" rows="12"></textarea>
                    <script>
                        CKEDITOR.replace('editor1', {
                            // Define the toolbar groups as it is a more accessible solution.
                            toolbarGroups: [{
                                "name": "basicstyles",
                                "groups": ["basicstyles"]
                            },
                            {
                                "name": "links",
                                "groups": ["links"]
                            },
                            {
                                "name": "paragraph",
                                "groups": ["list", "blocks"]
                            },
                            {
                                "name": "document",
                                "groups": ["mode"]
                            },
                            {
                                "name": "insert",
                                "groups": ["insert"]
                            },
                            {
                                "name": "styles",
                                "groups": ["styles"]
                            },
                            {
                                "name": "about",
                                "groups": ["about"]
                            }
                            ],
                            // Remove the redundant buttons from toolbar groups defined above.
                            removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar'
                        });
                    </script>
                </div>
                <div class="CKEditor" id="uploadImage" width="100%" style="background: #e9e9e9;">
                    <input class="file" type="file" onchange="previewFile()">
                    <img src="../image/noImage.jpg" height="200px" alt="">
                </div>
                <div class="CKEditor">
                        <input class="w3-input w3-border w3-animate-input" id ="videoUrl" type="text" style="width:100%"></input>
                        <button class="button btnVideo" onclick="playVideo()">Click me</button>
                        <iframe width="100%" height="220" id="videoSource" >
                        </iframe>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="detail">
                <h3 style="margin:5px">Category</h3>
                <div class="page">
                    <div class="page__demo">
                        <div class="page__toggle">
                            <label class="toggle">
                                <input class="toggle__input" type="checkbox" checked>
                                <span class="toggle__label">
                                    <span class="toggle__text">Bussiness</span>
                                </span>
                            </label>
                        </div>
                        <div class="page__toggle">
                            <label class="toggle">
                                <input class="toggle__input" type="checkbox">
                                <span class="toggle__label">
                                    <span class="toggle__text">Economy</span>
                                </span>
                            </label>
                        </div>
                        <div class="page__toggle">
                            <label class="toggle">
                                <input class="toggle__input" type="checkbox" checked>
                                <span class="toggle__label">
                                    <span class="toggle__text">Agriculture</span>
                                </span>
                            </label>
                        </div>
                        <div class="page__toggle">
                            <label class="toggle">
                                <input class="toggle__input" type="checkbox">
                                <span class="toggle__label">
                                    <span class="toggle__text">Polistic & Law</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="detail">

                <div id="myDIV" class="header">
                    <h3 style="margin:5px">Tag List</h3>
                    <input type="text" id="myInput" placeholder="Title...">
                    <span onclick="newElement()" class="addBtn">Add</span>
                </div>

                <ul id="myUL">

                </ul>
            </div>

        </div>
    </div>

    <div class="finish">
    <button class="button btnVideo" data-toggle="modal" data-target="#myModal" >Delete</button>
    <a href="">   <button class="button btnVideo" >Save</button></a>
    <a href="preview.html" target="_blank">   <button class="button btnVideo" >Preview </button></a>
    <a href="">    <button class="button btnVideo" >Post </button></a>
</div>



<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure you want to detele?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                <div class="modal-footer">
                    <button type="button" class="button btnVideo" data-dismiss="modal">Yes</button>
                    <button type="button" class="button btnVideo" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
</div>

</body>