<!DOCTYPE <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Preview</title>

    <link rel="stylesheet" href="../css/preview.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster|Noto+Sans+KR" rel="stylesheet">  <script src="https://cdn.ckeditor.com/4.11.4/standard-all/ckeditor.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.11.4/standard-all/ckeditor.js"></script>
    <script src="poster.js"></script>


</head>

<body>
    <div class="horizontalMenu">
        <div class="topnav">

            <a href="#contact">Log Out</a>
            <a class="active" href="#home">Hoàng Nhi</a>
            <a href="#about" class="avatar"><img src="../image/avatar.png"></a>
            <h2 style="margin-left: 40%; margin-top: 0px;">Preview</h2>
        </div>
    </div>

    <div class="verticalMenu">
            <div class="area"></div>
            <nav class="main-menu">
                <ul>
                    <li>
                        <a href="e-News.html">
                            <i class="fa fa-home fa-2x"></i>
                            <span class="nav-text">
                                Home
                            </span>
                        </a>
    
                    </li>
                    <li class="has-subnav">
                        <a href="preview.html">
                            <i class="fa fa-laptop fa-2x"></i>
                            <span class="nav-text">
                                  Approval articles
                            </span>
                        </a>
    
                    </li>
                    <li class="has-subnav">
                        <a href="preview.html">
                            <i class="fa fa-list fa-2x"></i>
                            <span class="nav-text">
                                Deny article
                            </span>
                        </a>
    
                    </li>
                    <li class="has-subnav">
                        <a href="preview.html">
                            <i class="fa fa-folder-open fa-2x"></i>
                            <span class="nav-text">
                                wait for approvel
                            </span>
                        </a>
    
                    </li>
                    <li>
                        <a href="preview.html">
                            <i class="fa fa-bar-chart-o fa-2x"></i>
                            <span class="nav-text">
                                wait for post
                            </span>
                        </a>
                    </li>
                    <li>
                            <a href="poster.html">
                                <i class="fa fa-info fa-2x"></i>
                                <span class="nav-text">
                                    Post
                                </span>
                            </a>
                        </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-font fa-2x"></i>
                            <span class="nav-text">
                                Setting
                            </span>
                        </a>
                    </li>
                   
                </ul>
    
    
            </nav>
        </div>
    

    <div class="content">
        <div class="preview">
            <div class="title">
                <h3>Viet Nam News Economy Việt Nam's PMI at four-month high as employment rises Read more </h3>
            </div>
            <div class="photo">
                <img src="../image/img_mountains_wide.jpg.png">
            </div>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">

                </iframe>
            </div>
            <div class="text">
                <p>
                    Workers produce automobile parts at Keihin Vietnam Co. — VNA/VNS Photo Danh Lam
                    HÀ NỘI — Việt Nam’s Manufacturing Purchasing Managers’ Index (PMI) – a composite
                    single-figure indicator of manufacturing performance – rose to a four-month high
                    of 52.5 in April from 51.9 in March, signalling solid monthly improvement in the
                    health of the sector.
                    A survey by Nikkei and IHS Markit released on Thursday also showed the country’s
                    business conditions have improved on a monthly basis since December 2015.
                    According to the survey, Vietnamese firms continued to see rise in new orders at a
                    solid pace in April, with the rate of growth broadly in line with that seen in March.
                    A similar picture was seen with regards to new export business. In both cases,
                    respondents mentioned improving customer demand.
                    “New order growth fed through to increases in a number of other variables monitored by
                    the survey, including purchasing, employment and output,” the survey noted.
                    “Manufacturing production rose for the 17th successive month. The rate of expansion was
                    solid, albeit weaker than in the previous month."
                    Job creation was registered for the first time in three months at the start of the second
                    quarter. The increase in employment was slightly faster than the series average. Greater
                    operating capacity meant that firms were able to keep on top of workloads in spite of a
                    further solid expansion of new orders. As a result, backlogs of work decreased for the
                    fourth month running.
                    “The main positive from the latest Việt Nam manufacturing PMI survey was a return to employment
                    growth, the first rise in three months, as firms gained confidence that the soft patch
                    at the start of the year is now a thing of the past,” said Andrew Harker, Associate Director
                    at IHS Markit, which compiled the survey.
                    According to the survey, purchasing activity continued to rise solidly, with the latest
                    increase helping to support the first accumulation in pre-production inventories since January.
                    Stocks of finished goods also expanded, albeit only marginally and to the least extent in
                    the current seven-month sequence of accumulation.
                    “New orders are predicted to increase further over the coming year, helping to boost sentiment
                    around production volumes,” the survey said. “Business expansion plans are also set to support
                    output growth. Sentiment rose to a three-month high in April.”
                    However, it noted, the rate of input cost inflation accelerated to the sharpest since last November.
                    There were general increases in raw material prices on international markets.
                    Despite a solid rise in cost burdens, manufacturers in Việt Nam continued to lower their output
                    prices.
                    Charges were reduced for the fifth consecutive month, linked to efforts to secure greater new order
                    volumes.
                    However, the rate of decline was only marginal.
                    Finally, suppliers’ delivery times were broadly unchanged in April. Higher demand for inputs led to
                    delays from
                    some suppliers, but respondents indicated that others were able to satisfy requests for quicker
                    deliveries.
                    “There was still a reluctance to raise selling prices, however, in spite of a pick-up in the rate of
                    cost inflation,
                    but this will likely change should solid inflows of new work continue in coming months,” Harker
                    said. — VNS

                    Read more at
                    http://vietnamnews.vn/economy/519430/viet-nams-pmi-at-four-month-high-as-employment-rises.html#0WbP82FvwAWqfgYq.99
                </p>
            </div>
        </div>

        <div class="others">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../image/image1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                     <a href="#" class="btn btn-primary">Preview</a>
                        <button class="btn btn-danger">denied</button>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../image/image1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                        <a href="#" class="btn btn-primary">Preview</a>
                        <button class="btn btn-danger">denied</button>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../image/image1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                     <a href="#" class="btn btn-primary">Preview</a>
                        <button class="btn btn-danger">denied</button>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../image/image1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                     <a href="#" class="btn btn-primary">Preview</a>
                        <button class="btn btn-danger">denied</button>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../image/image1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                     <a href="#" class="btn btn-primary">Preview</a>
                        <button class="btn btn-danger">denied</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>