<!DOCTYPE <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>

    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster|Noto+Sans+KR" rel="stylesheet">
          <script src="https://cdn.ckeditor.com/4.11.4/standard-all/ckeditor.js"></script>
</head>

<body>
    <div class="horizontalMenu">
        <div class="topnav">

            <a href="#contact">Log Out</a>
            <a class="active" href="#home">Hoàng Nhi</a>
            <a href="#about" class="avatar"><img src="../image/avatar.png"></a>
            <h2 style="margin-left: 40%; margin-top: 0px;"><b>Profile</b></h2>
        </div>
    </div>

    <div class="verticalMenu">
        <div class="area"></div>
        <nav class="main-menu">
            <ul>
                <li>
                    <a href="e-News.html">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Home
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="preview.html">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Approval articles
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="preview.html">
                        <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Deny article
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="preview.html">
                        <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            wait for approvel
                        </span>
                    </a>

                </li>
                <li>
                    <a href="preview.html">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                            wait for post
                        </span>
                    </a>
                </li>
                <li>
                    <a href="poster.html">
                        <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Post
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                            Setting
                        </span>
                    </a>
                </li>

            </ul>


        </nav>
    </div>

    <div class="content">
        <div class="left">
            <div class="photo">
                <img src="../image/profile.jpg">
            </div>
            <div class="name">
               <label><b>Hoàng Thị Hoài Nhi</b></label>
            </div>
            <div class="Birthday">
            <label>10-03-1998</label>
            </div>

        </div>
        <div class="right">
            <div class="address">
                <img class="icon" src="../image/homeIcon.png"><span>
               <label><b>Address:</b></label></span>
               <ul>
                   <li>
                       227 Nguyễn Văn Cừ - Phường 4 - Quận 5 - TP Hồ Chí Minh 
                   </li>
                  

               </ul>
            </div>
            <div class="contact">
                    <img class="icon" src="../image/phoneIcon.png"><span>
                            <label><b>Contact:</b></label>
                <ul>
                        <li>
                            Facebook: 
                        </li>
                        <li>
                            Twiter:
                        </li>
                        <li>
                                Gmail:
                            </li>
                        
                    </ul>
            </div>
            <div class="education">
                    <img class="icon" src="../image/eduIcon.png"><span>
                            <label><b>Education:</b></label>
                <ul>
                   <li>
                       IT educational background
                   </li>
                   <li>
                       Studying at University of Science
                   </li>
                   <li>
                       Bachelor'degree
                   </li>
                </ul>
            </div>
            <div class="otherInfor" >
                    <img class="icon" src="../image/penIcon.png"><span>
                            <label><b>Other Information:</b></label>
                 <p style="text-align: center">I have pasion for writing and want to trasfer my knowlege to everyone. I love
                     animals and really want to protect them. This is the reason why i am here now.
                 </p>
            </div>
        </div>


    </div>

</body>