<div class="card shadow mt-3">
    <h5 class="card-header">Tag Add</h5>
    <div class="card-body">
        <form method="POST">
            <div class="form-group">
                <h5>Hash Tag Name</h5>
                <input name="Tag" type="text" class="form-control" placeholder="Enter Hash Tag name">
            </div>
            <a class="btn btn-primary mt-4" href="/admin/HashTag" role="button">
            <i class="fa fa-backward" aria-hidden="true"></i>List</a>
            <button type="submit" class="btn btn-success mt-4">
                <i class="fa fa-check" aria-hidden="true"></i>save</button>
        </form>
    </div>
</div>
  