<div class="card mt-3 shadow">
    <h3 class="card-header">Category</h3>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Category</th>
                    <th scope="col">Parent Category</th>
                    <th scope="col"  class="text-right"> <a class="btn btn-outline-success" href="categories/add" role="button">
                            <i class="fa fa-plus" aria-hidden="true"> Add Category</i>
                        </a></th>
                </tr>
            </thead>
            <tbody>
                {{#each this.categories}}
                <tr>
                    <th scope="row">{{CaID}}</th>
                    <td>{{CaName}}</td>
                    <td>{{ParentID}}</td>
                    <td class="text-right">
                        <a class="btn btn-outline-success" href="categories/edit/{{CaID}}" role="button">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>