*{
  margin:0;
  padding: 0;
  font-family: sans-serif;

}

.infor{
    background: rgb(208, 201, 205);
    display: flex;
    flex-direction: row;
    height: 50px;
}

#dateTime{
    margin: 15px 50px;
    width: 70%;
}

#contactUs{
    display: flex;
    justify-content: flex-end;
 }

#contactUs li{
    display: inline;
    margin-left: 20px;

}
#contactUs li:hover{
  background: rgb(198, 197, 155);

}


.logo{
    width: 100px;
    margin: 25px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #7bbde7;
    float: left;
    width: 80%;
  }

  .menu li {
    float: left;
    border-right:1px solid rgb(68, 183, 190);
  }

  .menu li:last-child {
    border-right: none;
  }

  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: rgb(38, 123, 171);
  }

.menu input[type=text] {
    padding: 5px;
    margin-top: 8px;
    margin-right: 10px;
    margin-bottom: 2px;
    font-size: 17px;
    border: none;
}
.menu button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    background:#7bbde7;
    font-size: 17px;
    border: none;
    width: 13%;
    height: 66%;
  }

  .menu div{
    background-color: #7bbde7;
    width: 20%;
    height: 46px;
}


.slider {
	width: 800px;
	margin: 2em auto;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.slider-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}


.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: block;
  margin-left:100px;
  height: 250px;
  width: 950px;
  background-color: rgb(161, 223, 185);
}
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: block;
  margin-left:100px;
  height: 250px;
  width: 950px;
  background-color: rgb(244, 198, 219);
}

.thumb-view{
  display:block;width:220px;height:156px;margin-bottom:8px;
}
.thumb-view img{
  display:block;width:220px;height:156px;margin-bottom:8px;
}
.thumb-view img:hover{
  -ms-transform: scale(1.05); /* IE 9 */
-webkit-transform: scale(1.05); /* Safari 3-8 */
transform: scale(1.05);
}
.most-view-h2{
  margin-left: 10px;
  margin-top:20px;
  color: rgb(10, 9, 11);
}
.container-view {
  padding: 2px 16px;

}
.title-view a{font-family:SFD-Bold;
  font-size:17px;
  line-height:22px;
  color:rgb(1, 10, 1);
  transition:color .3s;
  width: 220px;
  display: block;
  -webkit-transition:color .3s;
  -moz-transition:color .3s;
  text-decoration:none;}
.title-view a:hover{color:rgb(121, 111, 235);}
.column {
  float: left;
  width: 230px;
}

.next{
  margin-left: 700px;
  border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: rgb(23, 140, 215);
}

/* latest news*/
.column-latest {
  float: left;
  margin-left: 20px;
  width: 280px;
}

.title-view-latest a{font-family:SFD-Bold;
  font-size:17px;
  line-height:22px;
  color:rgb(1, 10, 1);
  transition:color .3s;
  width: 250px;
  display: block;
  -webkit-transition:color .3s;
  -moz-transition:color .3s;
  text-decoration:none;}
.title-view-latest a:hover{color:rgb(121, 111, 235);}

.thumb-view-latest{
  display:block;width:250px;height:156px;margin-bottom:8px;
}
.thumb-view-latest img{
  display:block;width:250px;height:156px;margin-bottom:8px;
}
